.idea
.vscode
.vs
.DS_Store

build
cmake-build-*
crash-*

# antlr
.antlr

# clangd cache
.cache/

# VS CMake personal config
CMakeSettings.json

# input output test case data
test/**/*.in
test/**/*.out
